body
{
    margin: 0px;
    padding: 0px;

}
.background
{
    width: 100%;
    height: 100vh;
    background-image: url(otherfiles/FrivUCUImages/Untitled1542_20231210152341.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}